<div class= "container">

<p id="notice"><%= notice %></p>
<p><%= @response.body %></p>
<h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
<br>
<%= link_to 'Edit your profile', edit_user_path(@user) %>
<br>
<%= link_to 'Create a new list', new_list_path %>
<br>
<%= link_to 'See all your lists', lists_path %>

</div>